@font-face {
    font-family: Adelle;
    src: url(./fonts/adelle_regular.woff);
}

body{
    font-family: "Work Sans", sans-serif;
}

a{
    text-decoration: none;
    color: #867d6b;
    pointer-events:none;
}

#flipkart-navbar {
    background-color: #867d6b;
    color: #ded6c5;
}

.row{
    padding-top: 1em;
    padding-bottom: 1em;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
    color: #000;
}

.flipkart-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.upper-links {
    display: inline-block;
    padding: 5px 11px;
    line-height: 23px;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 22px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
}

.dropdown:hover {
    background-color: #fff;
}

.dropdown:hover .links {
    color: #000;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
}

.links {
    color: #ded6c5;
    text-decoration: none;
}

.links:hover {
    color: #d4ccbc;
    text-decoration: none;
}

.profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
}

.profile-li{
    padding-top: 2px;
}

.largenav {
    display: none;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}

@media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}


/* Image modals */

.section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    position: relative;
    text-transform: uppercase;
}
.section-title h2:before {
    position: absolute;
    background: #575757;
    height: 2px;
    width: 45px;
    content: "";
    bottom: 0;
}

.portfolio-menu button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid transparent;
    color: #515f67;
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.single-portfolio a {
    display: block;
    line-height: 0;
    position: relative;
}
.single-portfolio a::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: scale(0.5);
    transition: all 0.3s ease 0s;
    width: 100%;
}
.single-portfolio:hover a::before {
    opacity: .6;
    transform: scale(1);
}
.single-portfolio a::after {
    color: #b5b5b5;
    content: "Shop now!";
    font-weight: bold;
    font-size: 27px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: scale(0);
    transition: all 0.3s ease 0s;
}
.single-portfolio:hover a::after {
    transform: scale(1);
}

section {
    margin-top: 3em;
    margin-bottom: 3em;
}

/* product view page*/
.single-shop-product h2 {
    font-size: 20px;
    margin: 10px 0;
}

.add_to_cart_button {
    background: none repeat scroll 0 0 #867d6b;
    border: medium none;
    color: #fff;
    padding: 6px 25px;
    display: inline-block;
}

.product-carousel-price ins {
    color: #867d6b;
    font-weight: 700;
    margin-right: 5px;
    text-decoration: none;
}

.product-listing{
    margin-top: 1em;
}

.img-PLP{
    max-width:95%;
}
